.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-top: 10px;
  height: 35px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.bg-black {
  background-color: black;
}

.nav-logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav-avatar {
  position: fixed;
  right: 10px;
  width: 30px;
  object-fit: contain;
}
